<!DOCTYPE html>
<html>
  <head>
    <title>ForeverNote</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= render(
          "api/users/user.json.jbuilder",
          user: current_user
        ).html_safe %>
      <% end %>

      window.images = {
        LOGOUT: "<%= image_path("logout.png") %>",
        NEW: "<%= image_path("NEW.png") %>",
        NOTEBOOKS: "<%= image_path("NOTEBOOKS.png") %>",
        NOTES: "<%= image_path("NOTES.png") %>",
        TAGS: "<%= image_path("TAGS.png") %>",
        SEARCH: "<%= image_path("SEARCH.png") %>",
        LOGOUT_HOV: "<%= image_path("logout_hov.png") %>",
        NEW_HOV: "<%= image_path("NEW_HOV.png") %>",
        NOTEBOOKS_HOV: "<%= image_path("NOTEBOOKS_HOV.png") %>",
        NOTES_HOV: "<%= image_path("NOTES_HOV.png") %>",
        TAGS_HOV: "<%= image_path("TAGS_HOV.png") %>",
        SEARCH_HOV: "<%= image_path("SEARCH_HOV.png") %>",
        LOGO: "<%= image_path("LOGO.png") %>",
        LOGO_LARGE: "<%= image_path("LOGO_large.png") %>"
      }


    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
